<! doctype html>
<html>
<head>
<title> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMy Family Page&nbsp&nbsp&nbsp&nbspvv&nbsp&nbspv</title>
</head>
<body>
<h1>MY FAMILY</h1>
<br>
<br>
<p>Welcome to everyone who visit my family page.My name is Tedros Ghebru.I'm 37 years old. I have two boys. Their name is Amen and Esey. Amen is 4 years old and Esey is 11 years old. In this page I'm going to</p>
<p>show everything including picture of every one in my family. Everyone will have a section to describe his life. </p>
<p> Before I start describing everyone in its section, I will show you a detail of my family in a table form. Thank you.</p>
<br>
<table>
 <tr>
 <th>First Name</th>
<th>Last Name</th>
<th>Sex</th>
<th>Age</th>
<th>Status in the family</th>
</tr>
<tr>
<td>Tedros</td>
<td>Ghebru</td>
<td>Male</td>
<td>37</td>
<td>Father</td>
</tr>
<tr>
<td>Rahwa</td>
<td>Ali</td>
<td>Female</td>
<td>32</td>
<td>Mother</td>
</tr>
<tr>
<td>Esey</td>
<td>Russom</td>
<td>Male</td>
<td>11</td>
<td>Son</td>
</tr>
<tr>
<td>Amen</td>
<td>Tedros</td>
<td>Male</td>
<td>4</td>
<td>Son</td>
</tr>
</table>

<a href="http://www.udemy.com">udemy site</a>

<ul>
<li><a href="#Tedros">Tedros section</a></li>
<li><a href="#Amen">Amen section</a></li>
</ul>
<p><a name="Tedros" >This article is about Tedros<a/>
Tedros is a very gentle person. He is blessed. God loves him. He blessed
him with everything. Thanks to God.
</p>
<br>
<br>
<p><a name="Amen" >This article is about Amen<a/>
Amen is a brillian,smart and cute boy. I love him very much.
</p>
<h2>MY SON AMEN</h2>
<P>If you want to know detail about Amen, Log in to his website.</p>
<br>
<form action="" method="">
<label for="firstname" > First Name:</label>
<input type="text" id="firstname" name="">
<br>
<br>
<label for="lastname"> Last Name:</label>
<input type="text" id="lastname" name="">
<br>
</form>

<p><img src="amen.jpg" width="400" height="400"></P>
<br>
<br>
<br>
Comment:<br>
<form action="" method="">
<textarea rows="10" cols="80" ></textarea><br>
<input type="submit" value="Submit">
</form>
<form action="" method="">
Do you know Amen? <br>
yes:
<input type="radio" name="yesorno" value="">
&nbsp&nbsp no:
<input type="radio" name="yesorno" value=""><br>
</form>
If your answer is yes.<br>
<form action="" method="">
Where do you know him?<br>
<input type="checkbox" name="">&nbsp at home <br> 
<input type="checkbox" name="">&nbsp at School <br>
<input type="checkbox" name="">&nbsp at Church <br> 
<input type="checkbox" name="">&nbsp at city <br> 
</form><br>

<form action="" method="">
How much do you rate him from 0 to 5?
&nbsp
<input type="number" min="0" max="5"> 

</form><br>
<form action="" method="">
Where did you born?
<select>
<option value="utah"> Utah</option><br>
<option value="NorthDakota"> NorthDakota</option>
<option value="southDakota"> southDakota</option>
<option value="Texas"> Texas</option>
<option value="Nebraska"> Nebraska</option>
</select>
</form>
<br>
<form action="" method="">
Enter the date you want to travel to canada:
<input type="date" name="day"><br>
Number of days:<input type="number" name="numdays" min="1" max="10">
</form>




 




</body>
</html>